:root {
    --padding: 1rem;

    --menu-transition: 0.25s;
    --mode-transition: 0.5s;
    --page-transition: 1s;
    --modal-transition: 0.25s;
}

[data-theme="light"] {
    --page-color: white;
    --text-color: #333;
    --icon-color: black;
    --hover-color: blue;
    --current-page-color: grey;
}

[data-theme="dark"] {
    --page-color: black;
    --text-color: #ccc;
    --icon-color: white;
    --hover-color: yellow;
    --current-page-color: grey;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    transition: 0s;

    touch-action: manipulation;
}

p,
img,
.nav,
.sidebar-footer,
.main-header,
.carousel {
    padding: var(--padding);
}

.menu-cross,
.mode-toggle,
.a-icon,
.modal-close,
.zoom-out,
.zoom-in {
    line-height: 0;
}

.menu-button,
.menu-cross {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.sidebar,
.main {
    width: 100%;
    min-height: calc(100dvh - calc(1rem + 2 * var(--padding) * 0.75 + 1px));

    /*    -webkit-min-logical-height: calc(100vh - calc(1rem + 2 * var(--padding) * 0.75 + 1px));*/
}

/* Element rules */

html {
    font-size: 20px;
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, sans-serif;

    color: var(--text-color);
    background-color: var(--page-color);
}

h1 {
    font-size: 1.5rem;
}

p {
    max-width: 66ch;
}

a {
    color: var(--icon-color);
    text-decoration: none;

    display: inline-block;
}

button {
    color: var(--icon-color);
    background-color: transparent;
    border: 0;

    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;

    cursor: pointer;
}

figure {}

figcaption {
    padding-left: var(--padding);
}

address a {
    color: var(--hover-color);
}

hr {
    border: 0;

    padding: calc(var(--padding) / 2);
}

/* Class rules */

.page {
    max-width: 100%;
}

.header {
    background-color: var(--page-color);
    border-bottom: 1px dotted var(--icon-color);

    padding: calc(var(--padding) * 0.75) var(--padding);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.icon {
    width: auto;
    height: 1rem;

    fill: var(--icon-color);
}

.menu-button {
    font-size: 1rem;
    color: var(--icon-color);

    opacity: 1;
    transition: opacity var(--page-transition);

    line-height: 1rem;
}

.menu-cross {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;

    padding-top: calc(1rem + 2 * var(--padding) * 0.75 + 1px);

    transition: opacity var(--page-transition);
}

.sidebar {
    background-color: var(--page-color);

    position: fixed;
    z-index: 100;

    display: none;
    flex-direction: column;
    align-items: center;

    opacity: 0;
    transition: opacity var(--menu-transition);
}

.nav {
    display: flex;

    flex: 1;
}

.menu {
    list-style: none;

    text-align: center;

    margin: auto;
}

.menu a {
    display: block;
}

.menu a:hover {
    color: var(--hover-color);
}

.current-page {
    color: var(--current-page-color);
    cursor: default;
}

.sidebar-footer {}

.main {
    display: flex;
    flex-direction: column;
}

.main-header {
    padding-bottom: 0;
}

.content {
    flex: 1;
}

.top-scroll {
    padding: 2rem;

    align-self: center;
}

.footer {
    align-self: center;
}

.footer p {
    font-size: 0.75rem;
}

/* Toggle menu */

.unclicable {
    pointer-events: none;
}

.hide-scroll {
    overflow: hidden;
}

.toggle-menu-button {
    display: none;
}

.toggle-menu-cross {
    display: block;
}

.toggle-sidebar {
    display: flex;
}

/* Toggle dark and light modes */

.toggle-mode body,
.toggle-mode .sidebar {
    transition: background-color var(--mode-transition);
}

.toggle-mode .header {
    transition-property: background-color, border;
    transition-duration: var(--mode-transition);
}

.toggle-mode .icon {
    transition: fill var(--mode-transition);
}

.toggle-mode h1,
.toggle-mode p,
.toggle-mode figcaption,
.toggle-mode a,
.toggle-mode .menu-button {
    transition: color var(--mode-transition);
}

/* Modal images */

.plus {
    position: fixed;
    fill: red;
    top: 50%;
    left: 50%;
    /*    transform: translate(calc(-50% - 7.5px), calc(-50% - 7.5px));*/
    transform: translate(calc(-50%), calc(-50%));
}

.zoomtest img {
    display: inline;
    height: 100px;
}

.modal {
    background-color: var(--page-color);

    width: 100%;
    height: 100%;

    display: none;

    position: fixed;
    top: 0;

    z-index: 10000;

    overflow: auto;

    opacity: 0;
    transition: opacity var(--modal-transition);
}

.modal-close {
    position: fixed;
    top: 0;
    left: 0;
}

.zoom {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.no-zoom {
    display: none;
}

.modal-close,
.zoom-out,
.zoom-in {
    background-color: var(--page-color);

    width: 2.5rem;
    height: 2.5rem;
}

.loading {
    font-size: 0.75rem;

    display: none;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dots {
    position: absolute;
    left: 7.3ch;
}

.show-loading {
    display: block;
}

.modal-content {
    padding: 0;

    margin: auto;

    cursor: grab;

    opacity: 0;
}

.grabbing {
    cursor: grabbing;
}

.fit-content {
    max-width: fit-content;
    height: auto;
}

.fit-width {
    width: 100%;
    height: auto;
}

.fit-height {
    width: auto;
    height: 100%;
}

.show-modal {
    display: flex;
}

/* Carousel */

.carousel {
    display: flex;
    flex-direction: column;
}

.carousel-box {
    flex: 1;
}

.carousel figcaption {
    padding-left: 0;

    flex: 1;
}

.carousel-content img {
    padding: 0;
}

.carousel-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left,
.right {
    padding: 0.5rem;
}

.carousel-position p {
    font-size: 0.75rem;

    padding: 1rem 0.5rem;
}

.carousel-content,
.carousel-position {
    list-style: none;
}

.carousel-content,
.left,
.right {
    line-height: 0;
}

.carousel-content li,
.carousel-position li {
    display: none;
}

.carousel-content li.shown,
.carousel-position li.shown {
    display: block;
}

/* Page transition */

.zero-opacity {
    opacity: 0;
}

.full-opacity {
    opacity: 1;
}

/* Animations */

.top-scroll a {
    padding: 0.5rem;
}

.top-scroll svg {
    animation: 1.5s ease-in-out 0s infinite alternate up-and-down;
}

@keyframes up-and-down {
    from {
        transform: translateY(-0.5rem);
    }

    to {
        transform: translateY(0.5rem);
    }
}

/* Media queries */

@media (prefers-color-scheme: dark) {

    [data-theme="light"] {
        --page-color: white;
        --text-color: #333;
        --icon-color: black;
        --hover-color: blue;
        --current-page-color: grey;
    }

    [data-theme="dark"] {
        --page-color: black;
        --text-color: #ccc;
        --icon-color: white;
        --hover-color: yellow;
        --current-page-color: grey;
    }
}

@media only screen and (orientation: landscape) {

    html {
        overflow-y: scroll;
        /*        scrollbar-gutter: stable;*/
    }

    .page {
        max-width: 1000px;
        /*        max-width: calc(1015px - (100vw - 100%));*/

        margin: auto;
    }

    .header {
        background-color: transparent;

        position: static;
    }

    .menu-toggle {
        display: none;
    }

    .container {
        flex-direction: row;

        padding-top: 0;
    }

    h1 {
        line-height: 2rem;
    }

    .sidebar {
        background-color: transparent;

        width: initial;

        position: static;

        display: flex;
        align-items: flex-start;

        padding-top: calc(2rem + var(--padding));

        opacity: 1;
    }

    .nav {
        display: block;

        flex: 0;
    }

    .menu {
        width: 105px;

        text-align: left;

        margin: 0;
    }

    .carousel {
        flex-direction: row;
    }

    .carousel figcaption {
        padding-left: var(--padding);
    }
}
