:root {
    color-scheme: light;
    --page-color: white;
    --text-color: black;
    --icon-color: black;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 20px;
}

body {
    font-family: Verdana, sans-serif;
    color: var(--text-color);
    background: var(--page-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --page-color: black;
        --text-color: white;
        --icon-color: white;
    }
}
